/* Stylesheet for Attask App */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
  font-family: 'Staatliches', cursive;
  font-size: 24px;
  /* background colors */
  --header-bg: rgb(214, 68, 5);
  --toolbar-bg: rgb(131, 131, 245);
  --todo-container-bg: rgb(212, 194, 224);

  /* icon colors */
  --header-icon: rgb(42, 43, 42);
  --header-icon-hover: rgb(255, 255, 255);
  --toolbar-icon: rgb(71, 56, 56);
  --toolbar-icon-hover: rgb(250, 250, 250);
  --todo-container-icon: black;

  /* tasks colors */
  --task-completed: rgb(206, 218, 141);
  --task-low: rgb(121, 121, 160);
  --task-medium: rgb(226, 169, 84);
  --task-high: rgb(235, 112, 112);
  
  /* projects colors */
  --project-completed: rgb(177, 187, 121);
  --project-low: rgb(99, 99, 133);
  --project-medium: rgb(187, 139, 66);
  --project-high: rgb(190, 88, 88);

  /* text colors */
  --header-text: rgb(245, 253, 255);
  --toolbar-text: rgb(71, 56, 56);
  --todo-container-text: rgb(182, 182, 182);

  /* styling */
  --radius: .3rem;
}

body {
  /* basic styling */
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

#content {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  background-color: var(--header-bg);
  font-weight: 900;
  text-align: center;
  height: 3rem;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left-items .header-icon,
.header-right-items .header-icon {
  fill: var(--header-icon);
  height: 1.5rem;
  padding: .5rem;
}

.header-left-items .header-icon:hover,
.header-right-items .header-icon:hover {
  fill: var(--header-icon-hover);
  cursor: pointer;
}

.header-center-items {
  color: var(--header-text);
  fill: var(--header-text);
  display: flex;
  align-items: center;
}

.header-center-items .header-icon {
  height: 2rem;
}

.main-container {
  height: 100%;
  display: flex;
}

.toolbar {
  background-color: var(--toolbar-bg);
  color: var(--toolbar-text);
  fill: var(--toolbar-icon);
  width: 15%;
  padding: 1rem;
  padding-top: 3rem;
  font-size: .75rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}

.toolbar-icon {
  height: 1rem;
}

.toolbar-item {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.toolbar-item:hover {
  color: var(--toolbar-icon-hover);
  fill: var(--toolbar-icon-hover);
  cursor: pointer;
}

.todo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: .5rem;
  
}

.empty-msg {
  font-size: .75rem;
  color: gray;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container { 
  display: flex;
  flex-direction: column;
}

.project-header,
.task-container {
  font-size: .75rem;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header {
  font-weight: 900;
  background-color: var(--project-medium);
  border-radius: var(--radius) var(--radius) 0 0;
  border-bottom: 2px solid black;
}


.task-container {
  background-color: var(--task-high);
  border-bottom: 2px solid gray;
}

.icons-left,
.icons-right {
  align-items: center;
}

.icons-left > img:hover,
.icons-right > img:hover {
  fill: white;
}

img {
  aspect-ratio: 1;
  height: 1rem;
}

.task-modal,
.project-modal {
  font-size: .75rem;
  align-items: center;
  display: flex;
  justify-content: center; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(187, 184, 184, 0.7);
  transition: all 0.4s;
}

form {
  padding: 1rem;
  background-color: rgb(127, 145, 172);
  border-radius: .5rem;
  border: 3px solid black;
  box-shadow: 0 0 1rem rgb(124, 124, 124);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1rem;
}

/* dynamic classes */
.only {
  border-radius: var(--radius);
  border-bottom: none;
}

.last {
  border-radius: 0 0 var(--radius) var(--radius);
  border-bottom: none;
}

.hidden {
  display: none;
}

.task-low {
  background-color: var(--task-low);
}

.task-medium {
  background-color: var(--task-medium);
}

.task-high {
  background-color: var(--task-high);
}

.task-completed {
  background-color: var(--task-completed);
}

.project-low {
  background-color: var(--project-low);
}

.project-medium {
  background-color: var(--project-medium);
}

.project-high {
  background-color: var(--project-high);
}

.project-completed {
  background-color: var(--project-completed);
}